<% content_for :page_title do %>
  <%== t(".editing_post") + " &ldquo;#{@post.title}&rdquo;".html_safe %>
<% end %>
<% content_for :sidebar_title do %>
  <%= t(:post_information) %>
<% end %>

<% content_for :sidebar do %>
  <header id="post_tab_summary" data-hook>
    <dl class="additional-info">
      <dt id="posted_at_date"><%= t(:posted_at) %></dt>
      <dd><%= l (@post.posted_at || Time.now), :format => :date_only %></dd>
    </dl>
  </header>
  <nav class="menu">
    <ul data-hook="admin_post_tabs">
      <li<%= ' class="active"'.html_safe if current == "Post Details" %>>
        <%= link_to_with_icon 'icon-th-large', t(".post_details"), edit_admin_post_url(@post) %>
      </li>
      <li<%= ' class="active"'.html_safe if current == "Images" %>>
        <%= link_to_with_icon 'icon-picture', t("images"), admin_post_images_url(@post) %>
      </li>
      <li<%= ' class="active"'.html_safe if current == "Related Products" %>>
        <%= link_to_with_icon 'icon-tasks', t(".related_products"), admin_post_products_url(@post) %>
      </li>
      <li<%= ' class="active"'.html_safe if current == "Categories" %>>
        <%= link_to_with_icon 'icon-tasks', t(".post_categories"), admin_post_categories_url(@post) %>
      </li>
    </ul>
  </nav>
<% end %>
